In [369]:
import pandas as pd
import numpy as np
import re

In [370]:
def get_name(input_string):
    # Define the regular expression pattern
    pattern = re.compile(
        r"((?:mamba|pythia)_(?:s|ms|m|l)_(?:mt\+|mt|mqsq)_\d(?:_b)?(?:_mt_\d)?)[\d_]+$"
    )

    # Search for a match in the input string
    match = pattern.search(input_string)

    # If a match is found, return the captured group
    if match:
        return match.group(1)  # Return the first (and only) capturing group
    else:
        return None

In [371]:
df = pd.read_csv("wandb_export_overall2.csv")

In [372]:
df.head()

,Name,max_len,Created,Runtime,Tags,fiqa_acc,fpb_acc,tfns_acc,nwgi_acc,Hostname,...,arc_easy/acc,arc_easy/acc_stderr,hellaswag/acc,hellaswag/acc_stderr,lambada_openai/acc,lambada_standard/acc,lambada_openai/acc_stderr,lambada_standard/acc_stderr,lambada/acc,lambada/acc_stderr
0,pythia-small_pythia_s_mt_2_2024_03_14_0944,512,2024-03-19T13:33:01.000Z,870,NaN,0.450909,0.514026,0.505444,0.445268,ubuntu-2204-filip,...,0.298401,0.009389,0.263892,0.004398,0.002523,0.001552,0.000699,0.000549,0.002038,0.000444
1,pythia-small_pythia_s_mt_0_2024_03_14_1430,512,2024-03-19T13:05:10.000Z,795,NaN,0.432727,0.740099,0.757956,0.503089,ubuntu-2204-filip,...,0.301347,0.009415,0.261900,0.004388,0.022705,0.003105,0.002075,0.000775,0.012905,0.001108
2,pythia-big_pythia_l_mt_2_2024_03_19_2133,512,2024-03-20T11:43:08.000Z,1637,NaN,0.432727,0.573432,0.533082,0.447492,209-20-156-111,...,0.514731,0.010255,0.452101,0.004967,0.629924,0.523773,0.006727,0.006958,0.576848,0.004839
3,pythia-big_pythia_l_mt_1_2024_03_20_1309,512,2024-03-20T22:10:44.000Z,1800,NaN,0.392727,0.669142,0.658710,0.454411,209-20-156-111,...,0.512205,0.010257,0.450508,0.004965,0.639627,0.526101,0.006689,0.006956,0.582864,0.004825
4,pythia-big_pythia_l_mt_0_2024_03_16_1053,512,2024-03-19T16:54:39.000Z,809,NaN,0.370909,0.688119,0.716080,0.482085,209-20-156-111,...,0.299663,0.009400,0.263892,0.004398,0.003299,0.003105,0.000799,0.000775,0.003202,0.000557

In [373]:
df.columns

Index(['Name', 'max_len', 'Created', 'Runtime', 'Tags', 'fiqa_acc', 'fpb_acc',
       'tfns_acc', 'nwgi_acc', 'Hostname', 'State', 'Notes', 'User', 'Sweep',
       'arc_challenge/acc', 'arc_challenge/acc_stderr', 'piqa/acc',
       'piqa/acc_stderr', 'winogrande/acc', 'winogrande/acc_stderr',
       'arc_easy/acc', 'arc_easy/acc_stderr', 'hellaswag/acc',
       'hellaswag/acc_stderr', 'lambada_openai/acc', 'lambada_standard/acc',
       'lambada_openai/acc_stderr', 'lambada_standard/acc_stderr',
       'lambada/acc', 'lambada/acc_stderr'],
      dtype='object')

In [374]:
# remove columns that are not needed
df = df.drop(
    columns=[
        "Created",
        "Runtime",
        "Tags",
        "Hostname",
        "State",
        "Notes",
        "User",
        "Sweep",
    ]
)

In [375]:
df.head()

,Name,max_len,fiqa_acc,fpb_acc,tfns_acc,nwgi_acc,arc_challenge/acc,arc_challenge/acc_stderr,piqa/acc,piqa/acc_stderr,...,arc_easy/acc,arc_easy/acc_stderr,hellaswag/acc,hellaswag/acc_stderr,lambada_openai/acc,lambada_standard/acc,lambada_openai/acc_stderr,lambada_standard/acc_stderr,lambada/acc,lambada/acc_stderr
0,pythia-small_pythia_s_mt_2_2024_03_14_0944,512,0.450909,0.514026,0.505444,0.445268,0.219283,0.012091,0.551143,0.011605,...,0.298401,0.009389,0.263892,0.004398,0.002523,0.001552,0.000699,0.000549,0.002038,0.000444
1,pythia-small_pythia_s_mt_0_2024_03_14_1430,512,0.432727,0.740099,0.757956,0.503089,0.201365,0.011719,0.517410,0.011659,...,0.301347,0.009415,0.261900,0.004388,0.022705,0.003105,0.002075,0.000775,0.012905,0.001108
2,pythia-big_pythia_l_mt_2_2024_03_19_2133,512,0.432727,0.573432,0.533082,0.447492,0.273038,0.013019,0.723613,0.010434,...,0.514731,0.010255,0.452101,0.004967,0.629924,0.523773,0.006727,0.006958,0.576848,0.004839
3,pythia-big_pythia_l_mt_1_2024_03_20_1309,512,0.392727,0.669142,0.658710,0.454411,0.272184,0.013007,0.727965,0.010383,...,0.512205,0.010257,0.450508,0.004965,0.639627,0.526101,0.006689,0.006956,0.582864,0.004825
4,pythia-big_pythia_l_mt_0_2024_03_16_1053,512,0.370909,0.688119,0.716080,0.482085,0.199659,0.011682,0.560392,0.011580,...,0.299663,0.009400,0.263892,0.004398,0.003299,0.003105,0.000799,0.000775,0.003202,0.000557

In [376]:
# reformate the name column values to be more readable
df["Name"] = df["Name"].apply(get_name)

In [377]:
df.head()

,Name,max_len,fiqa_acc,fpb_acc,tfns_acc,nwgi_acc,arc_challenge/acc,arc_challenge/acc_stderr,piqa/acc,piqa/acc_stderr,...,arc_easy/acc,arc_easy/acc_stderr,hellaswag/acc,hellaswag/acc_stderr,lambada_openai/acc,lambada_standard/acc,lambada_openai/acc_stderr,lambada_standard/acc_stderr,lambada/acc,lambada/acc_stderr
0,pythia_s_mt_2,512,0.450909,0.514026,0.505444,0.445268,0.219283,0.012091,0.551143,0.011605,...,0.298401,0.009389,0.263892,0.004398,0.002523,0.001552,0.000699,0.000549,0.002038,0.000444
1,pythia_s_mt_0,512,0.432727,0.740099,0.757956,0.503089,0.201365,0.011719,0.517410,0.011659,...,0.301347,0.009415,0.261900,0.004388,0.022705,0.003105,0.002075,0.000775,0.012905,0.001108
2,pythia_l_mt_2,512,0.432727,0.573432,0.533082,0.447492,0.273038,0.013019,0.723613,0.010434,...,0.514731,0.010255,0.452101,0.004967,0.629924,0.523773,0.006727,0.006958,0.576848,0.004839
3,pythia_l_mt_1,512,0.392727,0.669142,0.658710,0.454411,0.272184,0.013007,0.727965,0.010383,...,0.512205,0.010257,0.450508,0.004965,0.639627,0.526101,0.006689,0.006956,0.582864,0.004825
4,pythia_l_mt_0,512,0.370909,0.688119,0.716080,0.482085,0.199659,0.011682,0.560392,0.011580,...,0.299663,0.009400,0.263892,0.004398,0.003299,0.003105,0.000799,0.000775,0.003202,0.000557

In [378]:
# rename the columns old:new
df = df.rename(
    columns={
        "Name": "model",
        "fiqa_acc": "fiqa/acc",
        "fpb_acc": "fpb/acc",
        "tfns_acc": "tfns/acc",
        "nwgi_acc": "nwgi/acc",
        "arc_challenge/acc": "arc_c/acc",
        "arc_challenge/acc_stderr": "arc_c/acc_se",
        "arc_easy/acc": "arc_e/acc",
        "arc_easy/acc_stderr": "arc_e/acc_se",
        "piqa/acc": "piqa/acc",
        "winogrande/acc": "wngrd/acc",
        "winogrande/acc_stderr": "wngrd/acc_se",
        "piqa/acc_stderr": "piqa/acc_se",
        "hellaswag/acc": "hlswg/acc",
        "hellaswag/acc_stderr": "hlswg/acc_se",
        "lambada_openai/acc": "lmbd_oai/acc",
        "lambada_openai/acc_stderr": "lmbd_oai/acc_se",
        "lambada_standard/acc": "lmbd_std/acc",
        "lambada_standard/acc_stderr": "lmbd_std/acc_se",
        "lambada/acc": "lmbd/acc",
        "lambada/acc_stderr": "lmbd/acc_se",
    }
)

In [379]:
df.head()

,model,max_len,fiqa/acc,fpb/acc,tfns/acc,nwgi/acc,arc_c/acc,arc_c/acc_se,piqa/acc,piqa/acc_se,...,arc_e/acc,arc_e/acc_se,hlswg/acc,hlswg/acc_se,lmbd_oai/acc,lmbd_std/acc,lmbd_oai/acc_se,lmbd_std/acc_se,lmbd/acc,lmbd/acc_se
0,pythia_s_mt_2,512,0.450909,0.514026,0.505444,0.445268,0.219283,0.012091,0.551143,0.011605,...,0.298401,0.009389,0.263892,0.004398,0.002523,0.001552,0.000699,0.000549,0.002038,0.000444
1,pythia_s_mt_0,512,0.432727,0.740099,0.757956,0.503089,0.201365,0.011719,0.517410,0.011659,...,0.301347,0.009415,0.261900,0.004388,0.022705,0.003105,0.002075,0.000775,0.012905,0.001108
2,pythia_l_mt_2,512,0.432727,0.573432,0.533082,0.447492,0.273038,0.013019,0.723613,0.010434,...,0.514731,0.010255,0.452101,0.004967,0.629924,0.523773,0.006727,0.006958,0.576848,0.004839
3,pythia_l_mt_1,512,0.392727,0.669142,0.658710,0.454411,0.272184,0.013007,0.727965,0.010383,...,0.512205,0.010257,0.450508,0.004965,0.639627,0.526101,0.006689,0.006956,0.582864,0.004825
4,pythia_l_mt_0,512,0.370909,0.688119,0.716080,0.482085,0.199659,0.011682,0.560392,0.011580,...,0.299663,0.009400,0.263892,0.004398,0.003299,0.003105,0.000799,0.000775,0.003202,0.000557

In [380]:
def acc_se_format(val):
    if str(val).lower() == "n/a":
        return val
    return "Â±{:.2}".format(val)
    # return "Â±{:.2e}".format(val)

acc_se_pattern = re.compile('.*acc_se$')
acc_se_columns = [col for col in df.columns if acc_se_pattern.match(col)]
print(acc_se_columns)
df[acc_se_columns] = df[acc_se_columns].map(acc_se_format, na_action="ignore")

df.fillna("N/A", inplace=True)
df.head()

['arc_c/acc_se', 'piqa/acc_se', 'wngrd/acc_se', 'arc_e/acc_se', 'hlswg/acc_se', 'lmbd_oai/acc_se', 'lmbd_std/acc_se', 'lmbd/acc_se']

/var/folders/g8/rl4whwrs6nz8_lbt0pvlsrtc0000gn/T/ipykernel_11470/2288166998.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'N/A' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("N/A", inplace=True)

,model,max_len,fiqa/acc,fpb/acc,tfns/acc,nwgi/acc,arc_c/acc,arc_c/acc_se,piqa/acc,piqa/acc_se,...,arc_e/acc,arc_e/acc_se,hlswg/acc,hlswg/acc_se,lmbd_oai/acc,lmbd_std/acc,lmbd_oai/acc_se,lmbd_std/acc_se,lmbd/acc,lmbd/acc_se
0,pythia_s_mt_2,512,0.450909,0.514026,0.505444,0.445268,0.219283,Â±0.012,0.551143,Â±0.012,...,0.298401,Â±0.0094,0.263892,Â±0.0044,0.002523,0.001552,Â±0.0007,Â±0.00055,0.002038,Â±0.00044
1,pythia_s_mt_0,512,0.432727,0.740099,0.757956,0.503089,0.201365,Â±0.012,0.517410,Â±0.012,...,0.301347,Â±0.0094,0.261900,Â±0.0044,0.022705,0.003105,Â±0.0021,Â±0.00078,0.012905,Â±0.0011
2,pythia_l_mt_2,512,0.432727,0.573432,0.533082,0.447492,0.273038,Â±0.013,0.723613,Â±0.01,...,0.514731,Â±0.01,0.452101,Â±0.005,0.629924,0.523773,Â±0.0067,Â±0.007,0.576848,Â±0.0048
3,pythia_l_mt_1,512,0.392727,0.669142,0.658710,0.454411,0.272184,Â±0.013,0.727965,Â±0.01,...,0.512205,Â±0.01,0.450508,Â±0.005,0.639627,0.526101,Â±0.0067,Â±0.007,0.582864,Â±0.0048
4,pythia_l_mt_0,512,0.370909,0.688119,0.716080,0.482085,0.199659,Â±0.012,0.560392,Â±0.012,...,0.299663,Â±0.0094,0.263892,Â±0.0044,0.003299,0.003105,Â±0.0008,Â±0.00078,0.003202,Â±0.00056

In [381]:
def acc_format(val):
    if str(val).lower() == "n/a":
        return val
    return "{:.3}".format(val)

acc_pattern = re.compile('.*acc$')
acc_columns = [col for col in df.columns if acc_pattern.match(col)]
print(acc_columns)
df[acc_columns] = df[acc_columns].map(acc_format)
df.head()

['fiqa/acc', 'fpb/acc', 'tfns/acc', 'nwgi/acc', 'arc_c/acc', 'piqa/acc', 'wngrd/acc', 'arc_e/acc', 'hlswg/acc', 'lmbd_oai/acc', 'lmbd_std/acc', 'lmbd/acc']

,model,max_len,fiqa/acc,fpb/acc,tfns/acc,nwgi/acc,arc_c/acc,arc_c/acc_se,piqa/acc,piqa/acc_se,...,arc_e/acc,arc_e/acc_se,hlswg/acc,hlswg/acc_se,lmbd_oai/acc,lmbd_std/acc,lmbd_oai/acc_se,lmbd_std/acc_se,lmbd/acc,lmbd/acc_se
0,pythia_s_mt_2,512,0.451,0.514,0.505,0.445,0.219,Â±0.012,0.551,Â±0.012,...,0.298,Â±0.0094,0.264,Â±0.0044,0.00252,0.00155,Â±0.0007,Â±0.00055,0.00204,Â±0.00044
1,pythia_s_mt_0,512,0.433,0.74,0.758,0.503,0.201,Â±0.012,0.517,Â±0.012,...,0.301,Â±0.0094,0.262,Â±0.0044,0.0227,0.0031,Â±0.0021,Â±0.00078,0.0129,Â±0.0011
2,pythia_l_mt_2,512,0.433,0.573,0.533,0.447,0.273,Â±0.013,0.724,Â±0.01,...,0.515,Â±0.01,0.452,Â±0.005,0.63,0.524,Â±0.0067,Â±0.007,0.577,Â±0.0048
3,pythia_l_mt_1,512,0.393,0.669,0.659,0.454,0.272,Â±0.013,0.728,Â±0.01,...,0.512,Â±0.01,0.451,Â±0.005,0.64,0.526,Â±0.0067,Â±0.007,0.583,Â±0.0048
4,pythia_l_mt_0,512,0.371,0.688,0.716,0.482,0.2,Â±0.012,0.56,Â±0.012,...,0.3,Â±0.0094,0.264,Â±0.0044,0.0033,0.0031,Â±0.0008,Â±0.00078,0.0032,Â±0.00056

In [382]:
# convert column "max_len" to integer
df["max_len"] = df["max_len"].apply(lambda x: int(x) if x != "N/A" else x)

In [383]:
# now split the df into two where we preserve the column 'model' and then divide the rest into two
# columns fiqa_acc	fpb_acc	tfns_acc	nwgi_acc will be in one df and the rest in another
# df = df.set_index("model")
df1 = df[["model", "max_len", "fiqa/acc", "fpb/acc", "tfns/acc", "nwgi/acc"]].sort_values("model")
df2 = df.drop(columns=["fiqa/acc", "fpb/acc", "tfns/acc", "nwgi/acc"]).sort_values("model")

In [384]:
df1.head()

                    model  max_len fiqa/acc fpb/acc tfns/acc nwgi/acc
20           mamba_l_mt_0      512   0.0945   0.601     0.66    0.418
17  mamba_m_mqsq_1_b_mt_2      512    0.116   0.582    0.642    0.387
22           mamba_m_mt_0      512   0.0873   0.602    0.657    0.415
23           mamba_m_mt_1      512   0.0873   0.604    0.657    0.415
19           mamba_m_mt_2      512   0.0945   0.607    0.659    0.419

In [385]:
df2.head()

,model,max_len,arc_c/acc,arc_c/acc_se,piqa/acc,piqa/acc_se,wngrd/acc,wngrd/acc_se,arc_e/acc,arc_e/acc_se,hlswg/acc,hlswg/acc_se,lmbd_oai/acc,lmbd_std/acc,lmbd_oai/acc_se,lmbd_std/acc_se,lmbd/acc,lmbd/acc_se
20,mamba_l_mt_0,512,0.366,Â±0.014,0.75,Â±0.01,0.638,Â±0.014,0.687,Â±0.0095,0.494,Â±0.005,0.692,0.608,Â±0.0064,Â±0.0068,0.65,Â±0.0047
17,mamba_m_mqsq_1_b_mt_2,512,0.208,Â±0.012,0.618,Â±0.011,0.522,Â±0.014,0.418,Â±0.01,0.302,Â±0.0046,0.413,0.299,Â±0.0069,Â±0.0064,0.356,Â±0.0047
22,mamba_m_mt_0,512,0.293,Â±0.013,0.736,Â±0.01,0.608,Â±0.014,0.633,Â±0.0099,0.446,Â±0.005,0.651,0.579,Â±0.0066,Â±0.0069,0.615,Â±0.0048
23,mamba_m_mt_1,512,0.288,Â±0.013,0.727,Â±0.01,0.601,Â±0.014,0.549,Â±0.01,0.45,Â±0.005,0.646,0.556,Â±0.0067,Â±0.0069,0.601,Â±0.0048
19,mamba_m_mt_2,512,0.273,Â±0.013,0.737,Â±0.01,0.605,Â±0.014,0.481,Â±0.01,0.449,Â±0.005,0.63,0.55,Â±0.0067,Â±0.0069,0.59,Â±0.0048

In [394]:
# this is great, now I want to append the acc and acc_se columns together so that we reduce the siz 
# of the dataframe so {arc_c/acc} {arc_c/acc_se} will become {arc_c/acc Â± arc_c/acc_se} for each pair
# df.columns[2::2]
# df.columns[3::2]
# df_combines = df[df.columns[2::2]].astype(str) + " " + df[df.columns[3::2]].astype(str)
# df_combines

df_combines = df[["model", "max_len"]]
for c1, c2 in zip(df.columns[2::2], df.columns[3::2]):
    df_combines[c1] = df[c1].astype(str) + " Â± " + df[c2].astype(str)

/var/folders/g8/rl4whwrs6nz8_lbt0pvlsrtc0000gn/T/ipykernel_11470/3598751019.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combines[c1] = df[c1].astype(str) + " Â± " + df[c2].astype(str)
/var/folders/g8/rl4whwrs6nz8_lbt0pvlsrtc0000gn/T/ipykernel_11470/3598751019.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combines[c1] = df[c1].astype(str) + " Â± " + df[c2].astype(str)
/var/folders/g8/rl4whwrs6nz8_lbt0pvlsrtc0000gn/T/ipykernel_11470/3598751019.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combines[c1] = df[c1].astype(str) + " Â± " + df[c2].astype(str)
/var/folders/g8/rl4whwrs6nz8_lbt0pvlsrtc0000gn/T/ipykernel_11470/3598751019.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combines[c1] = df[c1].astype(str) + " Â± " + df[c2].astype(str)
/var/folders/g8/rl4whwrs6nz8_lbt0pvlsrtc0000gn/T/ipykernel_11470/3598751019.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combines[c1] = df[c1].astype(str) + " Â± " + df[c2].astype(str)
/var/folders/g8/rl4whwrs6nz8_lbt0pvlsrtc0000gn/T/ipykernel_11470/3598751019.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combines[c1] = df[c1].astype(str) + " Â± " + df[c2].astype(str)
/var/folders/g8/rl4whwrs6nz8_lbt0pvlsrtc0000gn/T/ipykernel_11470/3598751019.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combines[c1] = df[c1].astype(str) + " Â± " + df[c2].astype(str)
/var/folders/g8/rl4whwrs6nz8_lbt0pvlsrtc0000gn/T/ipykernel_11470/3598751019.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combines[c1] = df[c1].astype(str) + " Â± " + df[c2].astype(str)
/var/folders/g8/rl4whwrs6nz8_lbt0pvlsrtc0000gn/T/ipykernel_11470/3598751019.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combines[c1] = df[c1].astype(str) + " Â± " + df[c2].astype(str)
/var/folders/g8/rl4whwrs6nz8_lbt0pvlsrtc0000gn/T/ipykernel_11470/3598751019.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combines[c1] = df[c1].astype(str) + " Â± " + df[c2].astype(str)

In [388]:


# now save these as overall_fin_eval for df1 and overall_lm_eval for df2
df1.to_csv("overall_fin_eval.csv", index=False)
df2.to_csv("overall_lm_eval.csv", index=False)

In [387]:
df1.to_latex("overall_fin_eval.tex", index=False, escape=True)
df2.to_latex("overall_lm_eval.tex", index=False, escape=True,)

experiments fineval

In [367]:
df.head()
# select models matching a regexp (pythia|mamba)_m_mt
experiments_fineval = df1[df1["model"].str.match(r"(pythia|mamba)_m_mt_")]
experiments_fineval = experiments_fineval.sort_values("model").drop(columns=["max_len"])
experiments_fineval.to_latex("experiment_fineval.tex", index=False, escape=True, column_format="lccccc")
# then select columns fiqa/acc, tfns/acc nwgi/acc	arc_c/acc
experiments_fineval

            model fiqa/acc fpb/acc tfns/acc nwgi/acc
22   mamba_m_mt_0   0.0873   0.602    0.657    0.415
23   mamba_m_mt_1   0.0873   0.604    0.657    0.415
19   mamba_m_mt_2   0.0945   0.607    0.659    0.419
6   pythia_m_mt_0    0.324   0.634    0.684    0.472
10  pythia_m_mt_1    0.211   0.601     0.65    0.425
15  pythia_m_mt_2     0.16   0.545    0.598    0.395

In [368]:
experiment_lmeval = df2[df2["model"].str.match(r"(pythia|mamba)_m_mt_")]
experiment_lmeval = experiment_lmeval.sort_values("model").drop(columns=["max_len"])

# select a subset of columns
experiment_lmeval = experiment_lmeval[["model", "arc_c/acc", "arc_e/acc", "piqa/acc", "wngrd/acc", "hlswg/acc", "lmbd_oai/acc", "lmbd_std/acc", "lmbd/acc"]]
# remove the _acc from the column names
experiment_lmeval.columns = experiment_lmeval.columns.str.replace(r"/acc", "")

experiment_lmeval.to_latex("experiment_lmeval.tex", index=False, escape=True, column_format="lccccc")

experiment_lmeval

            model  arc_c  arc_e   piqa  wngrd  hlswg lmbd_oai lmbd_std    lmbd
22   mamba_m_mt_0  0.293  0.633  0.736  0.608  0.446    0.651    0.579   0.615
23   mamba_m_mt_1  0.288  0.549  0.727  0.601   0.45    0.646    0.556   0.601
19   mamba_m_mt_2  0.273  0.481  0.737  0.605  0.449     0.63     0.55    0.59
6   pythia_m_mt_0  0.199  0.311  0.553  0.499  0.263     0.02  0.00388  0.0119
10  pythia_m_mt_1  0.212  0.349  0.559  0.494  0.266   0.0949   0.0803  0.0876
15  pythia_m_mt_2  0.248  0.537  0.702  0.565  0.406      0.5    0.335   0.417